html
{
	height: 100%;
	width: 100%;
}
body {
	background-image: url("tile.png");
	overflow: hidden;
	height: 100%;	
	width: 100%;
}

.spacer-35
{
	height: 35%;
}

.header {
	top:0px;
	left:0px;
	font-family: 'Poiret One', sans-serif;
	font-size: 80pt;
	color: white;
	text-align: center;
	background-color: #76C58E;
	border-radius: 2px;
	position: fixed;
	width: 100%;
	z-index: 1;
	cursor: pointer;
}

.welcome {
	font-family: "Raleway";
	color: #313131;
	text-align: center;
	line-height: 150%;
	padding-left: 55px;
	padding-right: 55px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 2px;
	margin-left: 33%;
	margin-right: 33%;
	position: relative;
	top: 150px;	
	z-index: 10;
}	

.upbutton {
	position: relative;
	text-align: center;
	padding-top: 30%;
}

#upbutton{ 
	cursor: pointer;
}

#crutchWords {
	border-color: #76C58E;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
}

#instructions {
	font-size: 16pt;
}

#screen2 {
	height: 100%;
	width: 100%
}

.spacer-5 {
	height: 5%;
}

#downbutton {
	position: relative;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    cursor: pointer;
}

#startbutton {
	cursor: pointer;
}

#mistakes {
	position: absolute;
	margin-top: -2%;
	margin-left: 90%;
	font-family: "Raleway";
	color: #4d4d4d;
}

#store {
	opacity: 0;
}